/* Todo.module.css */
.taskList {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.taskItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    max-width: 600px;
}

.taskButton {
    cursor: pointer;
    margin: 20px;
}

.taskInput {
    margin: 20px 0;
}